html{
    background-color: #0C0910;
    color: white;
}
header{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    cursor: pointer;
}
section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-tasks{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    margin-bottom: 5%;
}