/* Media query para pantallas más pequeñas, como tablets */
@media only screen and (max-width: 768px) {
    #input-Task{
        height: 3.5em;
        width: 30em;
        padding: 2%;
        margin-right: 2%;
    }
  }
  
  /* Media query para pantallas pequeñas, como celulares */
  @media only screen and (max-width: 480px) {
    header{
        text-align: center;
        font-size: small;
    }

    form{
        margin-bottom: 1.5em;
        width: 100%;
        flex-direction: column;
    }
    
    #input-Task{
        height: 3em;
        width: 90vw;
        padding: 2%;
        margin-bottom: 5%;
    }

    .miDiv{
        height: auto;
        width: 85vw;
        margin-top: 1%;
    }

    .miCheckbox{
        margin-right: 3%;
    }

    .container-Info{
        margin-top: 5%;
        width: 50vw;
        padding: 1%;
        padding-bottom: 3%;
        flex-direction: column;
        text-align: center;
    }

    .clear-all-btn{
        width: 50%;
        height: 3em;
    }
  }